sqlalchemy==2.0.25
pandas==2.2.1
plotnine==0.13.0
plotly==5.19.0
urllib3>=1.26.18
requests==2.31.0
scrapy==2.11.1
json5==0.9.6
geopy==2.4.1
openmeteo_requests==1.2.0
requests_cache==1.2.0
retry_requests==2.0.0
streamlit==1.32.2
jupyter==1.0.0
ipykernel==6.28.0